<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <ul class="orders__products">
                                <% let totalArray = [] %>
                                <%order.products.forEach(p => {
                                  %><li class="orders__products-item">
                                    Title: <%= p.product.title %>  |
                                    Units: (<%= p.quantity %>)   |
                                    Price: $<%= p.product.price %> |
                                    <%let total = p.quantity * p.product.price%>
                                    Subtotal: $<%=total -%>
                                    <% totalArray.push(total) %></li>
                                <%});%>
                            </ul>
                            <% const reducer = (accumulator, currentValue) => accumulator + currentValue %>

                            <h1>Order Total: $<%= totalArray.reduce(reducer) %></h1>
                            <a href= "/orders/<%=order._id%>">View Invoice</a>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
